@model Pet
@{
    ViewBag.Title = "Edycja Produktu";
    Layout = "_AccountLayout";
}
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="Name">Zwierze</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div>
            <label asp-for="Description">Opis</label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="Category">Kategoria</label>
            <input asp-for="Category" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="AddDate">Data Dodania</label>
            <input asp-for="AddDate" class="form-control" type="datetime-local" value="2011-08-19T13:45:00" />
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Zapisz</button>
            <a asp-action="Index" class="btn btn-secondary">Anuluj</a> 
        </div>
    </form>