@model Pet
@{
    ViewBag.Title = "Edycja Produktu";
    Layout = "_AccountLayout";
}
<link rel="stylesheet" href="~/assets/js/jquery-3.2.1.min.js" />
<link rel="stylesheet" href="~/lib/jquery/dist/jquery.min.js" />
<link rel="stylesheet" href="~/lib/jquery-validation/dist/jquery.validate.min.js" />
<link rel="stylesheet" href="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" />
<script src="~/assets/js/dropzone.js"></script>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="ID" />
    <div class="form-group">
        <label asp-for="Name">Zwierze</label>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <input asp-for="Name" class="form-control" />
    </div>
    <div>
        <label asp-for="City">Miasto</label>
        <div><span asp-validation-for="City" class="text-danger"></span></div>
        <textarea asp-for="City" class="form-control"></textarea>
    </div>
    <div>
        <label asp-for="Description">Opis</label>
        <div><span asp-validation-for="Description" class="text-danger"></span></div>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Category">Kategoria</label>
        <div><span asp-validation-for="Category" class="text-danger"></span></div>
        <input asp-for="Category" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AddDate">Data Dodania</label>
        <div><span asp-validation-for="AddDate" class="text-danger"></span></div>
        <input asp-for="AddDate" class="form-control" type="datetime-local" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Zapisz</button>
        <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
    </div>
</form>
