@model PetsListViewModel
<div class="col-md-12">
    <section class="xs-section-padding">
        <div class="container">
            <div class="row">
                <div class="xs-heading col-md-6">
                    <h2 class="xs-sub-title">Daj im drugie życie</h2>
                    <h3 class="xs-title">Zwięrzęta do adopcji</h3>
                </div><!-- .xs-heading END -->
            </div><!-- .row END -->
            <div class="row">
                <!-- <div id="categories" class="col-3">
                    @await Component.InvokeAsync("NavigationMenu")
                </div> -->

                @foreach (var p in Model.Pets)
                {
                    @Html.Partial("PetSummary", p);
                }
            </div>
            <div class="row">
                <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
                     page-class="btn" page-class-normal="btn-secondary"
                     page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
                     class="btn-group pull-right m-1">
                </div>
            </div>
        </div>
    </section>
</div>