@page
@{
    ViewData["Title"] = "Log out";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<div>
   Potwierdź adres email.
</div>
</body>
</html>
