@page
@{
    ViewData["Title"] = "Log out";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<div class="text-center">
    <h2>Dziekujemy za założnie kotna. Potwierdź konto na adresie email.</h2>
    <p><a class="btn btn-success" asp-controller="Pet" asp-action="List">Wróć do strony</a></p>
</div>
</body>
</html>
