/* Domestic Adaption */
.xs-domesticAdoption {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	position: relative;
	.row {
		position: relative;
		z-index: 1;
	}
}

/* Family Album Image */ 
// .xs-family-album-wraper {
// 	margin-left: -15px;
// }
// .xs-family-album {
// 	position: relative;
// 	img {
// 		box-shadow: 0px 16px 32px 0px rgba(70, 70, 70, 0.2);
// 		border-radius: 10px;
// 	}
// 	&.image-1 {
// 		z-index: 1;
// 	}
// 	&.image-2 {
// 		margin-left: 157px;
// 		margin-top: -160px;
// 	}
// } 