.xs-banner-inner-section {
	padding: 200px 0;
	position: relative;
	@include background-content();
}
.xs-inner-banner-content {
	position: relative;
	z-index: 1;
	text-align: center;
	h2 {
		font-size: em(62px);
		margin-bottom: 2px;
	}
	p {
		font-size: em(22px);
		margin-bottom: 20px;
	}
}
.xs-breadcumb {
	li {
		display: inline-block;
		padding: 7px 22px;
		font-weight: 400;
		font-size: em(14px);
		color: $color-white;
		a {
			color: $color-white;
			@include transition;
			&:hover {
				color: $color-primary;
			}
		}
	}
}

.badge-primary {
	background-color: $color-primary;
}