/* Service Feature Content */
.xs-service-feature-content {
	padding: 120px 0;
}
.xs-service-feature-text {
	margin-bottom: 70px;
	.xs-title {
		margin-bottom: 30px;
	}
	p {
		margin-bottom: 0;
	}
}

.xs-services {
	position: relative;
	z-index: 1;
}

/* Feature */
.xs-feautre ,
.xs-doodle-bg {
	position: relative;
}