.xs-service-promo {
	color: $color-primary;
	position: relative;
	z-index: 2;
	span {
		display: inline-block;
		margin-bottom: 30px;
		font-size: em(60px);
	}
	h4 {
		font-size: em(18px);
		line-height: 1.4;
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 0;
		color: #666666;
		font-size: em(14px);
	}
	&.box-color {
		padding: 30px 20px;
		box-shadow: $secondary-shadow;
		span,
		h5,
		p {
			color: $color-white;
		}
	}
}

.xs-what-we-do-box {
	margin-top: -100px;
	padding-bottom: 100px;
}