$colors: #04d2c8;

.xs-vertical-tabs {
	position: relative;
	.row {
		position: relative;
		z-index: 1;
	}
	.watermark-bg {
		&.background-1 {
			right: inherit;
			left: 0;
		}
		&.background-5 {
			top: calc((0% - #{$bgHeight / 6.75}));
			transform: translateY(0%);
		}
	}
}

.fadein {
	animation: fadein 1.5s both;
	backface-visibility: hidden;
}
@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
  }

/* Vertical tab */
.xs-nav-pills {
	background-color: $color-white;
	box-shadow: $secondary-shadow;
	padding: 30px 0;
	li {
		margin-bottom: 10px;
		a {
			line-height: 1;
			padding: 13px 40px;
			font-size: em(16px);
			color: $color-primary;
			text-transform: capitalize;
			@include transition;
			border-left: 4px solid transparent;
			&:hover,
			&.active {
				background-color: #f5fffc;
				border-color: $colors;
				color: $colors;
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.xs-tab-content {
	background-color: $color-white;
	box-shadow: $secondary-shadow;
	padding: 30px;
	margin-bottom: 30px;
	border-bottom: 2px solid transparent;
	@include transition;
	&:hover {
		border-color: $colors;
	}
	h5 {
		font-size: em(16px);
		font-weight: 700;
		color: $color-primary;
		line-height: 1.625;
		margin-bottom: 10px;
		// font-family: $fontAlt;
	}
	p {
		margin-bottom: 0;
		font-size: em(14px);
		color: #666666;
	}
}