@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AdoptujZwierzaka</title>
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/iconfont.css">
    <link rel="stylesheet" href="~/assets/css/isotope.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <!--For Plugins external css-->
    <link rel="stylesheet" href="~/assets/css/plugins.css" />

    <!--Theme custom css -->
    <link rel="stylesheet" href="~/assets/css/style.css">

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="~/assets/css/responsive.css" />
</head>
<body>
    <!-- header section -->
    <header class="xs-header xs-nav-box">
        <div class="xs-logo-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 xs-logo-wraper">
                        <a class="nav-brand" asp-controller="Pet" asp-action="List">
                            <img src="~/assets/images/logo.png" alt="">
                        </a>
                    </div><!-- .xs-logo-wraper END -->
                    <div class="col-md-7 row xs-header-widget no-mobile">

                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </div>
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="xs-nav-down nav-down">
                <div class="container">
                    <nav class="xs-menus">
                        <div class="nav-header">
                            <div class="nav-toggle"></div>
                            <a href="index.html" class="nav-logo">
                                <img src="assets/images/logo.png" alt="">
                            </a>
                        </div>
                        <div class="nav-menus-wrapper">
                            <ul class="nav-menu">
                                <li><a asp-area="" asp-controller="Account" asp-action="Index">Add Ad</a></li>
                                <li><a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a></li>
                                <li><form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})"><button type="submit" class="btn btn-secondary btn-success"></button></form></li>
                            </ul><!-- .nav-menu END -->
                        </div><!-- .nav-menus-wrapper .row END -->
                    </nav>
                </div>
            </div>
        }
        else
        {
            <div class="xs-nav-down nav-down">
                <div class="container">
                    <nav class="xs-menus">
                        <div class="nav-header">
                            <div class="nav-toggle"></div>
                            <a href="index.html" class="nav-logo">
                                <img src="assets/images/logo.png" alt="">
                            </a>
                        </div>
                        <div class="nav-menus-wrapper">
                            <ul class="nav-menu">
                                <li><a asp-area="" asp-controller="Pet" asp-action="List" asp-route-category="Pies">Psy do adopcji</a></li>
                                <li><a asp-area="" asp-controller="Pet" asp-action="List" asp-route-category="Kot">Koty do adopcji</a></li>
                                <li><a asp-area="Identity" asp-page="/Account/Register">Rejestracja</a></li>
                                <li><a asp-area="Identity" asp-page="/Account/Login">Zaloguj</a></li>
                            </ul><!-- .nav-menu END -->
                        </div><!-- .nav-menus-wrapper .row END -->
                    </nav>
                </div>
            </div>
        }
    </header><!-- End header section -->
    <!-- banner section -->
    <section class="xs-banner xs-bg" style="background-image: url('assets/images/header.jpg')">
        <div class="container">
            <div class="row xs-banner-wraper">
                <div class="col-md-12">
                    <div class="xs-banner-content">
                        <h1 class="xs-banner-title">Adoptuj zwierzaka fizycznie lub wirtualnie</h1>
                        <p class="lead">Ponad 140 zwierzaków czeka na Twoje wsparcie. Adoptuj zwierzaki w schronisku lub wspieraj je zdalnie.</p>
                    </div><!-- .xs-banner-content END -->
                </div>
            </div><!-- .row END -->
        </div><!-- .container END -->
    </section><!-- End banner section -->
    <div class="container-fluid">
        <div class="search_welcome">
            <form action="/zwierzeta-do-adopcji" method="GET" class="form-inline">
                <input class="form-control tippy-click ui-autocomplete-input" id="pet_town" type="search" placeholder="Cała Polska lub wpisz miasto" aria-label="Search" name="pet_town" data-tippy-content="Wpisz miasto, np. Warszawa" autocomplete="off">
                <button class="btn btn-outline-success" type="submit" name="pet_type" value="1">
                    <i class="flaticon flaticon-dog"></i>
                    Znajdź psa
                </button>
                <button class="btn btn-outline-success" type="submit" name="pet_type" value="2">
                    <i class="flaticon flaticon-cat"></i>
                    Znajdź kota
                </button>
            </form>
        </div>
    </div>


    <!-- Stary header>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AdoptujZwierzaka</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial"/>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pet" asp-action="List">Ads</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header> -->

    <div class="col-md-12">
        @RenderBody()
        <!-- feautre section -->
        <section class="xs-feautre">
            <!-- banner section -->
            <div class="bg-gray xs-section-padding xs-about">
                <div class="container">
                    <div class="row">
                        <div class="xs-heading col-md-8">
                            <h2 class="xs-sub-title">What Makes</h2>
                            <h3 class="xs-title">Our Agency Unique?</h3>
                            <p>We strive to be the hands and feet of Jesus for children and families around the world. Bethany has a heart for children and we equip families to be the answer.</p>
                        </div><!-- .xs-heading END -->
                    </div><!-- .row END -->
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="xs-service-content">
                                <h3 class="xs-title" data-title="Services">Start your adoption journey with us.</h3>
                                <p>We are a non-profit professional association of adoption social workers and consultants living and working worldwide. Together we have consulted in over 1000 adoption cases in over 100 countries since 1990 for Americans abroad. We provide Hague-accredited home studies and post adoption services for inter country adoptions as employees. We are a non-profit professional association of adoption social workers and consultants living and working worldwide. Together we have consulted in over 1000 adoption cases in over 100 countries.</p>
                                <a href="#" class="btn btn-success">get started now</a>
                            </div><!-- .xs-service-content END -->
                        </div>
                        <div class="col-lg-5">
                            <div class="media xs-single-feature">
                                <img src="assets/images/icons/family-icon.png" class="d-flex" alt="">
                                <div class="media-body">
                                    <h4>Foster Care</h4>
                                    <p>Children in foster care have been removed from their families because of neglect and abuse  the things means life.</p>
                                    <a href="#"><i class="fa fa-play"></i> read more</a>
                                </div>
                            </div><!-- .xs-single-feature END -->
                            <div class="media xs-single-feature">
                                <img src="assets/images/icons/health-icon.png" class="d-flex" alt="">
                                <div class="media-body">
                                    <h4>Adoption Care</h4>
                                    <p>Millions of children around the world are in need of a loving family. As a full-service agency, we offer infant adoption care.</p>
                                    <a href="#"><i class="fa fa-play"></i> read more</a>
                                </div>
                            </div><!-- .xs-single-feature END -->
                        </div>
                    </div><!-- .row END -->
                </div><!-- .container END -->
                <div class="watermark-bg background-1" style="background-image: url(assets/images/features_bg_2.png)"></div>
            </div>	<!-- End banner section -->
            <!-- services section -->
            <div class="xs-services xs-bg" style="background-image: url('assets/images/backgrounds/bg-1.png')">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6 col-md-8 offset-md-4">
                            <div class="xs-service-feature-content">
                                <div class="xs-service-feature-text">
                                    <h2 class="xs-title">Florida Department of Family Services</h2>
                                    <p>We strive to be the hands and feet of Jesus for children and families around the world. It allows you to gather monthly <span class="color-secondarys">subscriptions from</span> fans to help fund your creative projects.</p>
                                </div>
                                <div class="row mx-auto">
                                    <div class="col-lg-4">
                                        <ul class="nav flex-column xs-v-nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                            <li class="nav-item">
                                                <a class="nav-link active show" data-toggle="pill" href="#progress">Progress</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="pill" href="#donated">Donated</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="pill" href="#mission">Mission</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="pill" href="#vission">Vission</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="tab-content" id="v-pills-tabContent">
                                            <div class="tab-pane fadeIn active show xs-v-tab-content" id="progress" role="tabpanel">
                                                <div class="xs-chart" data-percent="65">
                                                    <div class="xs-piechart-content">
                                                        <strong>65%</strong>
                                                        <small>Donated</small>
                                                    </div>
                                                </div>
                                                <h4>Has been donated this year to our Children Health Program.</h4>
                                                <p>Could you offer a child the love and security of a family for life? Find out who can adopt and if it’s right for you.</p>
                                            </div><!-- #progress END -->
                                            <div class="tab-pane fadeIn show xs-v-tab-content" id="donated" role="tabpanel">
                                                <div class="xs-chart" data-percent="85">
                                                    <div class="xs-piechart-content">
                                                        <strong>85%</strong>
                                                        <small>Donated</small>
                                                    </div>
                                                </div>
                                                <h4>Has been donated this year to our Children Health Program.</h4>
                                                <p>Could you offer a child the love and security of a family for life? Find out who can adopt and if it’s right for you.</p>
                                            </div><!-- #donated END -->
                                            <div class="tab-pane fadeIn show xs-v-tab-content" id="mission" role="tabpanel">
                                                <div class="xs-chart" data-percent="73">
                                                    <div class="xs-piechart-content">
                                                        <strong>73%</strong>
                                                        <small>Donated</small>
                                                    </div>
                                                </div>
                                                <h4>Has been donated this year to our Children Health Program.</h4>
                                                <p>Could you offer a child the love and security of a family for life? Find out who can adopt and if it’s right for you.</p>
                                            </div><!-- #mission END -->
                                            <div class="tab-pane fadeIn show xs-v-tab-content" id="vission" role="tabpanel">
                                                <div class="xs-chart" data-percent="75">
                                                    <div class="xs-piechart-content">
                                                        <strong>75%</strong>
                                                        <small>Donated</small>
                                                    </div>
                                                </div>
                                                <h4>Has been donated this year to our Children Health Program.</h4>
                                                <p>Could you offer a child the love and security of a family for life? Find out who can adopt and if it’s right for you.</p>
                                            </div><!-- #vission END -->
                                        </div>
                                    </div>
                                </div><!-- .row end -->
                            </div>
                        </div>
                    </div><!-- .row END -->
                </div><!-- .container END -->
            </div>	<!-- End services section -->
            <div class="watermark-bg background-2" style="background-image: url(assets/images/features_bg_1.png)"></div>
        </section><!-- End feautre section -->
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - AdoptujZwierzaka - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/jquery.waypoints.min.js"></script>
    <script src="~/assets/js/spectragram.min.js"></script>
    <script src="~/assets/js/jquery.easypiechart.min.js"></script>
    <script src="~/assets/js/skrollr.min.js"></script>
    <script src="~/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCy7becgYuLwns3uumNm6WdBYkBpLfy44k"></script>
    <script src="assets/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
