@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="xs-navs-button">
    <ul class="nawigacja">
        @if (SignInManager.IsSignedIn(User))
        {
            <li>
                <a asp-area="" asp-controller="Find" asp-action="Index">Zwierzęta do adopcji</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Account" asp-action="Index">Moje schronisko</a>
            </li>
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profil</a>
            </li>
            <li>
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("List", "Pet", new {area = ""})">
                    <button type="submit" class="btn btn-secondary btn-success">Wyloguj</button>
                </form>
            </li>
        }
        else
        {
            <li>
                <a asp-area="" asp-controller="Find" asp-action="Index" asp-route-category="Pies">Psy do adopcji</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Find" asp-action="Index" asp-route-category="Kot">Koty do adopcji</a>
            </li>
            <li>
                <a asp-area="Identity" asp-page="/Account/Register">Rejestracja</a>
            </li>
            <li>
                <a class="btn btn btn-secondary" asp-area="Identity" asp-page="/Account/Login">Zaloguj</a>
            </li>
        }
    </ul>
</div>
