@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="~/assets/css/iconfont.css">
<link rel="stylesheet" href="~/assets/css/isotope.css">
<link rel="stylesheet" href="~/assets/css/magnific-popup.css">
<link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
<link rel="stylesheet" href="~/assets/css/animate.css">
<!--For Plugins external css-->
<link rel="stylesheet" href="~/assets/css/plugins.css" />

<!--Theme custom css -->
<link rel="stylesheet" href="~/assets/css/style.css">

<!--Theme Responsive css-->
<link rel="stylesheet" href="~/assets/css/responsive.css" />
<!-- header section -->
<header class="xs-header xs-nav-box">
    <div class="xs-logo-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3 xs-logo-wraper">
                    <a class="nav-brand" asp-controller="Pet" asp-action="List">
                        <img src="~/assets/images/logo.png" alt="">
                    </a>
                </div><!-- .xs-logo-wraper END -->
                <div class="col-md-7 row xs-header-widget no-mobile">

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </div>
    </div>
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="xs-nav-down nav-down">
            <div class="container">
                <nav class="xs-menus">
                    <div class="nav-header">
                        <div class="nav-toggle"></div>
                        <a asp-controller="Pet" asp-action="List" class="nav-logo">
                            <img src="~/assets/images/logo.png" alt="">
                        </a>
                    </div>
                    <div class="nav-menus-wrapper">
                        <ul class="nav-menu">
                            <li><a asp-area="" asp-controller="Account" asp-action="Index">Add Ad</a></li>
                            <li><a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a></li>
                            <li><form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})"><button type="submit" class="btn btn-secondary btn-success"></button></form></li>
                        </ul><!-- .nav-menu END -->
                    </div><!-- .nav-menus-wrapper .row END -->
                </nav>
            </div>
        </div>
    }
    else
    {
        <div class="xs-nav-down nav-down">
            <div class="container">
                <nav class="xs-menus">
                    <div class="nav-header">
                        <div class="nav-toggle"></div>
                        <a asp-controller="Pet" asp-action="List" class="nav-logo">
                            <img src="~/assets/images/logo.png" alt="">
                        </a>
                    </div>
                    <div class="nav-menus-wrapper">
                        <ul class="nav-menu">
                            <li><a asp-area="" asp-controller="Pet" asp-action="BigList" asp-route-category="Pies" asp-route-petPage="1">Psy do adopcji</a></li>
                            <li><a asp-area="" asp-controller="Pet" asp-action="BigList" asp-route-category="Kot" asp-route-petPage="1">Koty do adopcji</a></li>
                            <li><a asp-area="Identity" asp-page="/Account/Register">Rejestracja</a></li>
                            <li><a asp-area="Identity" asp-page="/Account/Login">Zaloguj</a></li>
                        </ul><!-- .nav-menu END -->
                    </div><!-- .nav-menus-wrapper .row END -->
                </nav>
            </div>
        </div>
    }
</header><!-- End header section -->
<script src="~/assets/js/jquery-3.2.1.min.js"></script>
<script src="~/assets/js/plugins.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/isotope.pkgd.min.js"></script>
<script src="~/assets/js/jquery.magnific-popup.min.js"></script>
<script src="~/assets/js/owl.carousel.min.js"></script>
<script src="~/assets/js/jquery.waypoints.min.js"></script>
<script src="~/assets/js/spectragram.min.js"></script>
<script src="~/assets/js/jquery.easypiechart.min.js"></script>
<script src="~/assets/js/skrollr.min.js"></script>
<script src="~/assets/js/jquery.ajaxchimp.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCy7becgYuLwns3uumNm6WdBYkBpLfy44k"></script>
<script src="~/assets/js/main.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>